<ion-app>
  <ion-split-pane>
    <ion-menu>
      <ion-header >
        <ion-toolbar color="primary">
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" >
            <div *ngFor="let page of appPages">
                <ion-list-header color="secondary">
                    <ion-label>{{page.title}}</ion-label>
                  </ion-list-header>
                  <div *ngFor="let p of page.data">
                    <ion-item [routerDirection]="'root'" [routerLink]="[p.url]" >
                        <ion-icon slot="start" [name]="p.icon"></ion-icon>
                        <ion-label>
                          {{p.title}}
                        </ion-label>
                      </ion-item>
                    </div>
            </div>
            
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
